<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JCDRS/src/edu/mit/ll/div4/grp42/CDRS/ACASUA/ACASUASimulation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.mit.ll.div4.grp42.CDRS.ACASUA.ACASUASimulation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JCDRS"/>
</launchConfiguration>
