<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IRBenchmarker/src/edu/mit/ll/irbenchmark/amt/AmtPoster.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.mit.ll.irbenchmark.amt.AmtPoster"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IRBenchmarker"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dhttp.proxyHost=llproxy -Dhttp.proxyPort=8080"/>
</launchConfiguration>
