<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java Code Generation/src/edu/mit/ll/div4/gp42/clark/codegen/DecoratorWriter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.mit.ll.div4.gp42.clark.codegen.DecoratorWriter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java Code Generation"/>
</launchConfiguration>
